body{

    background-color: #1A1F28;
}

.text-color{

    color: #91A0BD;
}

.btn-outline-secondary{


    color: #91A0BD !important;


}

.progress-bar{

    background-color:  #009CD1;
}

#finalResult{
    /* text-align: justify;
    text-justify: inter-word; */
    color: #009CD1;

}